Source: kde-settings-qubes
Section: xfce
Priority: extra
Maintainer: Frédéric Pierret (fepitre) <frederic.pierret@qubes-os.org>
Build-Depends:
  debhelper (>= 10~),
  config-package-dev
Standards-Version: 4.3.0
Homepage: http://www.qubes-os.org

Package: kde-settings-qubes
Section: kde
Architecture: amd64
Depends: kde-standard, ${shlibs:Depends}, ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Default KDE settings for Qubes.
  Default KDE settings for Qubes.

Package: plasma-breeze-qubes
Section: kde
Architecture: amd64
Depends: breeze-gtk-theme, ${shlibs:Depends}, ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Qubes colorful frames for Breeze plasma theme.
  Qubes colorful frames for Breeze plasma theme.